<form role="form" #featureForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="customer.Name" name="Name" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="SurName">SurName</label>
        <input type="text" [(ngModel)]="customer.SurName" name="SurName" class="form-control" id="SurName" placeholder="SurName">
    </div>
    <div class="form-group">
        <label for="Date">Date</label>
        <input type="text" [(ngModel)]="customer.Date" MyDate [time]="customer.Time" name="Date" class="form-control" id="Date" placeholder="Date">
    </div>
    <div class="form-group">
        <label for="Time">Time</label>
        <input type="text" [(ngModel)]="customer.Time" MyTime [date]="customer.Date" name="Time" class="form-control" id="Time" placeholder="Time">
    </div>
    <div class="form-group">
        <label for="selectedUrl">UrlEnum</label>
        <select [(ngModel)]="selectedUrl" (ngModelChange)="selectedUrlChange.emit($event)" name="selectedUrl">
            <option *ngFor="let url of urlsArray" [value]="url.Key">Key: {{url.Key}} Value: {{url.Value}}</option>
        </select>
    </div>
    <div class="form-group" *ngFor="let tpl of templateData">
        <label for="tpl.Label">{{tpl.Label}}</label>
        <select [(ngModel)]="tpl.Value" [name]="tpl.Label" class="form-control" id="{{tpl.Label}}">
            <option *ngFor="let opt of tpl.Options" [ngValue]="opt.Code">{{opt.Name}}</option>
        </select>
    </div>
    <button type="button" class="btn btn-dark" (click)="save()">save</button>
    <button type="button" class="btn btn-dark" (click)="edit()">edit</button>
</form>