<h1>
   Model: {{ model.Name }}
</h1>
<pre>
    {{diagnostic}}
</pre>
<form role="form" #modelForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="model.Name" name="Name" class="form-control" id="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="Date">Date</label>
        <p-calendar name="date" [(ngModel)]="model.Date" dateFormat="yy-mm-dd" placeholder="choose date"  [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2030" showIcon="true"></p-calendar>
    </div>
    <div class="form-group">
        <label for="Model">Make</label>
        <select [(ngModel)]="model.MakeId" name="Make" class="form-control" id="Make" placeholder="choose make">
            <option *ngFor="let make of Makes" value="{{ make.Id }}">{{ make.Name }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <a [routerLink]="[modelUrl]" class="">To List</a>
</form>
