<h1>The models list</h1>
<div>
    <a [routerLink]="[modelsUrl, 0]" class="btn btn-primary">Create new</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Model</th>
            <th scope="col"><i class="fa fa-folder" aria-hidden="true"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of models">
            <th scope="row">{{ item.Id }}</th>
            <td><a [routerLink]="[modelsUrl, item.Id]">{{ item.Name }}</a></td>
            <td>{{ item.Date | date: 'longDate'  }}</td>
            <td>Make: {{ item.Make.Name }}</td>
            <td>
                <a [routerLink]="[modelsUrl, item.Id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <button class="btn btn-link" (click)="delete(item.Id)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>
