<h1>
 {{ title }}
</h1>

<div>
    <app-feature-new (featureCreated)="addNewFeature($event)"></app-feature-new>
    <a [routerLink]="[featureUrl, 0]" class="btn btn-primary">Create new from Form</a>
</div>
<table class="table">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Code</th>
          <th scope="col">Description</th>
          <th scope="col"><i class="fa fa-folder" aria-hidden="true"></i></th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of features">
      <th scope="row" (click)="select(item.Id)">{{ item.Id }} <input type="radio" name="{{ 'selectedFeature' }}" [checked]="item.Selected" /></th>
      <td><a [routerLink]="[featureUrl, item.Id]">{{ item.Name }}</a></td>
      <td>{{ item.Code }}</td>
      <td><input type="text" name="description" [(ngModel)]="item.Description" />{{ item.Description }}</td>
      <td>
          <a [routerLink]="[featureUrl, item.Id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <button class="btn btn-link" (click)="delete(item.Id)"><i class="fa fa-times" aria-hidden="true"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div class="feature col-xs-12">
    <app-feature-view *ngFor="let feature of features" [ftElement]="feature">
    </app-feature-view>
</div>