<div class="col-xs-12">
    <h2>
        Feature view: {{ element.Name }}
    </h2>
    <div class="form-group">
        <label for="name{{element.Id}}">Name</label>
        <input type="text" [(ngModel)]="element.Name" name="Name" class="form-control" id="name{{element.Id}}" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="code{{element.Id}}">Code</label>
        <input type="text" [(ngModel)]="element.Code" name="Code" class="form-control" id="code{{element.Id}}" placeholder="Code">
    </div>
    <div class="form-group">
        <label for="Description{{element.Id}}">Description</label>
        <input type="text" [(ngModel)]="element.Description" name="Description" class="form-control" id="Description{{element.Id}}" placeholder="Description">
    </div>
    <div class="form-group">
        <label for="Selected{{element.Id}}">Selected</label>
        <input type="checkbox" [(ngModel)]="element.Selected" name="Selected" class="form-control" id="Selected{{element.Id}}" placeholder="Selected">
    </div>
</div>
